.nav-bar {
    background: #0B2A1A;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    margin-right: 1rem;
    margin-top: 1rem;
}

.nav-bar a {
    padding: 0.5rem 1rem;
    margin-right: 2rem;
    font-weight: 500;
}

.nav-bar a:hover {
    color: #fff;
}